* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

html,
body {
    height: 100%;
    width: 100%;
    background: var(--bg-background-color);
    color: var(--bg-text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    /* BackgroundColors */
    --bg-background-color: #212121;
    --bg-fill-color:#fdfdfc;
    --bg-food-color:rgb(188, 4, 239);
    /* Text Colors */
    --bg-text-color: #f0f0f0;

    /* Space Variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Border Color */
    --border-primery-color:#5f5e5e;
    
    /*Border Radius  */
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:12px;
    --border-radius-lg:16px;
    --border-radius-xl:20px;
    --border-radius-2xl:24px;
}


section{
    padding: var(--space-2xl );
}

#infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.infos{
    padding: var(--space-md) var(--space-md);
    border: 4px solid var(--border-primery-color);
    border-radius: var(--border-radius-md);
    margin:0 var(--space-3xl)  ;
   

}
.board{
border: 3px solid var(--border-primery-color);
border-radius: var(--border-radius-md);
margin: var(--space-3xl);
height: 79vh;
min-height: 88%;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
grid-template-rows: repeat(auto-fill, minmax(50px,1fr));
flex-wrap: wrap;

}
.blocks{
    width: 1fr;
    height: 1fr;
    border: 1px solid var(--border-primery-color);
flex-shrink: 0;
}
.fill{
    background-color: var(--bg-fill-color);
}
.food {
  background: red;
  border: 50px solid black;
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #000000e8;
    backdrop-filter: blure(4px);
    display: flex;
    justify-content: center;
 align-items: center;
}
.modal .start-game,.modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}
.start-game h3{
    font-size: 4vw;
    text-transform: uppercase;
    font-style: italic;
}
.btn{
   font-size: 2vw;
    text-transform: uppercase;
    padding: 1.2vw;
background: linear-gradient(
     to right,
    #0f2027,
    #203a43,
    #2c5364,
    #1f1c2c,
    #3a1c71

);
color: white;
border-radius: .71vw;
font-weight: 900;
transition: background 0.9s ease, transform 1.2s ease-in-out;
}
.btn:hover {
  background: linear-gradient(
 


    to right,
  gray,
  rgb(69, 15, 69),
  blue,
  rgb(116, 17, 116),
  rgb(43, 50, 50)
  );
  transform: scale(1.05);
}
.modal .game-over{
    display: none;
}
.game-over h3{
 font-size: 6vw;
    text-transform: uppercase;
    font-style: italic;
}